<template>
  <div class="hello">
    <div class="villeIput">
      <input
        v-model="inputVille"
        @change="eventSearch()"
        type="text"
        id="name"
        name="name"
        required
        minlength="4"
        maxlength="30"
        placeholder="Nom de la ville "
      />
    </div>
    <div v-if="weather" class="container">
      <div class="weather-side">
        <div class="weather-gradient"></div>
        <div class="date-container">
          <span class="location">{{ weather.name }}</span>
          <h2 class="date-dayname">{{ moment().format('ll') }}</h2>
          <span class="date-day">{{ moment().format('dddd') }}</span>
          <i class="location-icon" data-feather="map-pin"></i>
          <img
            :src="`http://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png`"
            alt
            srcset
          />
        </div>
        <div class="weather-container">
          <i class="weather-icon" data-feather="sun"></i>
          <h1 class="weather-temp">{{ weather.main.temp }}°C</h1>
          <div class="resentie">
            <span>Temp.Ressentie : {{ weather.main.feels_like }}</span>
            <br>
            <span>Temp.Min : {{ weather.main.temp_min }}</span>
            <br />
            <span>Temp.Max : {{ weather.main.temp_max }}</span>
          </div>
          <h3 class="weather-desc">{{ weather.weather[0].description }}</h3>
          <div class="resentie">
            <span>
            Lever : {{ weather.sys.sunrise }} H
            <br />
            Coucher : {{ weather.sys.sunset }} H
          </span>
          </div>
        </div>
      </div>
      <div class="info-side">
        <div class="today-info-container">
          <div class="today-info">
            <div class="precipitation">
              <span class="title">PRECIPITATION</span>
              <span class="value">{{ weather.main.humidity }} %</span>
              <div class="clear"></div>
            </div>
            <div class="humidity">
              <span class="title">HUMIDITÉ</span>
              <span class="value">34 %</span>
              <div class="clear">{{ weather.humidity }}</div>
            </div>
            <div class="wind">
              <span class="title">VENT</span>
              <span class="value">{{ weather.wind.speed }} km/h</span>
              <div class="clear"></div>
              <div>
                <span>Latitude : {{ weather.coord.lat }} | longitude {{ weather.coord.lon }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="week-container">
          <ul class="week-list">
            <li class="active">
              <i class="day-icon" data-feather="sun"></i>
              <span class="day-name">Tue</span>
              <span class="day-temp">29°C</span>
            </li>
            <li>
              <i class="day-icon" data-feather="cloud"></i>
              <span class="day-name">Wed</span>
              <span class="day-temp">21°C</span>
            </li>
            <li>
              <i class="day-icon" data-feather="cloud-snow"></i>
              <span class="day-name">Thu</span>
              <span class="day-temp">08°C</span>
            </li>
            <li>
              <i class="day-icon" data-feather="cloud-rain"></i>
              <span class="day-name">Fry</span>
              <span class="day-temp">19°C</span>
            </li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const apiKey = "235e91415196044dfcc562de025e12f7";

export default {
  name: "HelloWorld",
  mounted() {
    axios
      .get(
        `https://api.openweathermap.org/data/2.5/weather?q=${this.inputVille}&units=metric&lang=fr&appid=${apiKey}`
      )
      .then(response => {
        this.weather = response.data;
      });
  },
  data() {
    return {
      weather: null,
      inputVille: "grenoble",
    };
  },
  methods: {
    eventSearch: function() {
      axios
        .get(
          `https://api.openweathermap.org/data/2.5/weather?q=${this.inputVille}&units=metric&lang=fr&appid=${apiKey}`
        )
        .then(response => {
          this.weather = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        });
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.villeIput {
  margin: 60px;
}
.resentie{
  border: double ;
  
}
.weather-desc{
  margin: 5px;
}
</style>
